.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

mat-sidenav {
  width: 200px;
  background-color: #005cbb;
  color: white; /* Cor do texto do sidenav */
}

mat-list-item span {
  color: white;
}

mat-list-item mat-icon {
  color: white;
}

.content {
  padding: 16px;
  background-color: white;
}
