.tabela {
    width: 100%;
    max-height: 536px;
    overflow-y: scroll;
}

.mat-mdc-table {
    background-color: #f0f0f0;
}

.mat-mdc-row{
    height: 48px;
}
.mat-mdc-header-row{
    background-color: #05b1e2;
    color: #fff;
}

.editIcon{
    color: #008900;
    margin-right: 8px;
}

.deleteIcon{
    color: #d82a2a;
}