.form {
  display: flex;
  flex-direction: column;
}

.button {
  margin-left: 8px;
}

.card {
  padding: 16px;
}

.title {
  margin-bottom: 8px;
  font-weight: 500;
}
.buttonDelete{
  background-color: #d82a2a;
}
