.header {
  display: flex;
  align-items: center;
  height: 64px;
}

.logo-header {
  max-height: 32px;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  color: black;
}
.header span {
  font-size: 16px;
  font-weight: bold;
}

.info-header {
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.info-header mat-icon {
  padding-right: 8px;
}
